<h3>Your Reading</h3>

=
<div clas="row">
	

	<div class = "col-md-4">
		<p>Past: {{reading.past.name}}</p>
		<img ng-src="assets/deck/{{ reading.past.card_id }}.jpg" height = "514" width = "300">
	</div>
	<div class = "col-md-4">
		<p>Past: {{reading.present.name}}</p>
		<img ng-src="assets/deck/{{ reading.present.card_id }}.jpg" height = "514" width = "300">
	</div>
	<div class = "col-md-4">
		<p>Past: {{reading.future.name}}</p>

		<img ng-src="assets/deck/{{ reading.future.card_id }}.jpg" height = "514" width = "300">
	</div>
</div>
