<h3>Your Reading</h3>


<div clas="row">
	

	<div class = "col-md-4">
		<p>Past: {{deck.reading.past.name}}</p>
		<img ng-src="assets/deck/{{ deck.reading.past.card_id }}.jpg" height = "437" width = "255">
	</div>
	<div class = "col-md-4">
		<p>Past: {{deck.reading.present.name}}</p>
		<img ng-src="assets/deck/{{ deck.reading.present.card_id }}.jpg" height = "437" width = "255">
	</div>
	<div class = "col-md-4">
		<p>Past: {{deck.reading.future.name}}</p>

		<img ng-src="assets/deck/{{ deck.reading.future.card_id }}.jpg" height = "437" width = "255">
	</div>
</div>
